9:00-13:00, https://meet.google.com/landing?authuser=1, Mit landin en la tarde
9:00-13:00, https://calendar.google.com/calendar/u/1/r
14:00-18:00, https://meet.google.com/landing?authuser=1
14:00-18:00, https://calendar.google.com/calendar/u/1/r, Calenario en la tarde
